.product-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(54, 65, 106, 0.15);
    border-radius: 4px;
    width: 97%;
    margin-bottom: 1rem;
    padding:1rem;
}

.card-left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    line-height: 1.5;
}
.comment-btn{
    color: #ABABAB;   
    cursor: default;
}
.comment-section{
    display: flex;
}
.comment-section img{
    width:18px;
    height:18px
}
.product-img {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}

/* .job-des {
    width: 100%;
} */

.card-right {
    width: 50%;
    flex-direction: column;
}


