.job-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(54, 65, 106, 0.15);
    border-radius: 4px;
    width: 97%;
    margin-bottom: 1rem;
    padding:1rem;
}

.card-left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    line-height: 1.5;
}
.comment-btn{
    color: #ABABAB;   
    cursor: default;
}
.comment-section{
    display: flex;
}
.comment-section img{
    width:18px;
    height:18px
}
.job-img {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}

/* .job-des {
    width: 100%;
} */

.ps {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.job-type {
    justify-content: flex-start;
}
.job-title{
    color: #36416A;
}

.card-right {
    width: 50%;
    flex-direction: column;
}

.req-skills {
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

.req-skill {
    background-color: #FFEEEE;
    padding: 0.3rem 1rem;
    margin-left: 1rem;
}


.view {
    width: 100%;
    justify-content: flex-end;
}

.view-details {
    background-color: #ED5353;
    color: white;
    padding: 0.5rem 1.5rem;
    border: none;
}


